# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# prisma
prisma/*.db

# OS
.DS_Store

# IDEs
.idea
.vscode/*
!.vscode/extensions.json

# tests
/coverage
/.nyc_output

# temp
tmp
